* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(rgb(45, 60, 89), rgb(150, 150, 150));
}

#h1-div {
   background-color: aqua;
   width: 500px;
   height: 300px;
   padding: 15px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;
   border-radius: 8px;
   border-color: transparent;
}

#show-button {
   padding: 10px 13px;
   border-radius: 10px;
   background-color: cadetblue;
   color: whitesmoke;
   border-color: transparent;
}
#show-button:hover {
   background-color: rgb(57, 123, 126);
   color: white;
   cursor: pointer;
}

.overlay {
   position: fixed;
   top: 0;
   right: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   /*  */
   visibility: hidden;
   z-index: -10;
}
/*  */
.show-overlay {
   visibility: visible;
   z-index: 10;
}
/*  */
#overlay-container {
   width: 300px;
   height: 300px;
   background-color: royalblue;
   border-radius: 8px;
   border-color: transparent;
   padding: 80px;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   align-items: center;
}
#remove-button {
   padding: 10px 13px;
   border-radius: 10px;
   background-color: rgb(253, 20, 20);
   color: whitesmoke;
   border-color: transparent;
}
#remove-button:hover {
   background-color: rgb(253, 40, 40);
   color: white;
   cursor: pointer;
}
